@import './admin.scss';

a {
    color: #e5e9ee;
    text-decoration: none;
    background-color: transparent;
}
body{
    font-family: 'Nunito', sans-serif !important;
}
.custom-btn{
    // border-radius: 10rem;
    padding: 0.5rem 2.5rem;
}